*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

body{
    height: 100vh;
    display: flex; 
    flex-direction: column;

    font-size: 24px;

    color: var(--text-color);
}

footer{
    margin-top: auto;
}

hr{
    height: 1px;
    
    border: 0; /*apperantly we need this to style hr*/

    border-top: 2px solid #242424b9;
    margin: 12px;
}

:root{
    --glow-outline: rgba(26, 26, 26, 0.447);

    --base-bg: rgba(0, 0, 0, 0.59);
    --base-color: rgba(45, 45, 45, 0.50);
    --base-variant: rgba(36, 36, 36, 0.30);

    --text-color: white;
}

/* maybe dark and light mode? */
/*i did not test these*/

.lightmode{
    --glow-outline: rgba(255, 255, 255, 0.469);
    
    --base-bg: rgb(243, 243, 243);
    --base-color: rgb(235, 235, 235, 0.50);
    --base-variant: rgba(255, 255, 255, 0.30);

    --text-color: black;
}

/*Filip Zrnzević credit him for bg*/
#background {
    position: absolute;

    background: linear-gradient(rgba(64, 64, 64, 0.288) 0%, var(--base-bg) 80%), url('../img/filip-zrnzevic-tj2uU85m_q4-unsplash.jpg');
    background-size: auto;
    
    background-position: top center;
    background-repeat: no-repeat;

    z-index: -1; /* without this header and footer is hidden by the bg*/
}

#header{
    background-color: var(--base-color);
    border-bottom: solid  var(--glow-outline);
    backdrop-filter: blur(7px); /*adds background blurr to header*/

    font-size: 32px;

    padding: 30px;
}

.header-stuff{
    display: flex;
}

.header-stuff-right{
    position: fixed;
    display: flex;

    justify-content: flex-end;
    width: 93.5vw; /*do not touch*/
}

.material-symbols-outlined{
    color: white;
}

.header-box{
    background-color: var(--base-variant);
    
    border-radius: 10px;
    border: solid var(--glow-outline);

    margin: 5px;
    padding: 8px;
}

.box{
    background-color: var(--base-variant);
    
    border-radius: 10px;
    border: solid var(--glow-outline);
    backdrop-filter: blur(2px); /*adds background blurr to header*/

    margin: 5%;
    margin-bottom: 0;
    padding: 30px;
}

.box-container{
    display: flex;
}

.profile{
    display: block;

    border-radius: 8px;
    border: solid 4px var(--glow-outline);
}