*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}

:root{
    --glow-outline: rgba(255, 255, 255, 0.447);

    --base-bg: rgba(0, 0, 0, 0.59);
    --base-color: rgba(45, 45, 45, 0.50);
    --base-variant: rgba(36, 36, 36, 0.30);

    --text-color: white;
}

/* maybe dark and light mode? */
/*i did not test these*/

.lightmode{
    --glow-outline: rgba(255, 255, 255, 0.469);
    
    --base-bg: rgb(243, 243, 243);
    --base-color: rgb(235, 235, 235, 0.50);
    --base-variant: rgba(255, 255, 255, 0.30);

    --text-color: black;
}

/*Filip Zrnzević credit him for bg*/
#background {
    position: absolute;
    width: 100vw;
    height: 100vh; /*covers the whole screen*/
    background: linear-gradient(rgba(64, 64, 64, 0.288) 0%, var(--base-bg) 80%), url('../img/filip-zrnzevic-QsWG0kjPQRY-unsplash.jpg');
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;

    z-index: -1; /* without this header and footer is hidden by the bg*/
}

#header{
    background-color: var(--base-color);
    border-bottom: solid  var(--glow-outline);
    backdrop-filter: blur(7px); /*adds background blurr to header*/

    font-size: 32px;

    padding: 30px;
}

.material-symbols-outlined{
    color: white;
}

.box{
    background-color: var(--base-variant);
    
    border-radius: 10px;
    border: solid var(--glow-outline);

    margin: 5%;
    padding: 30px;
}